Prueba_cole/Library/
Prueba_cole/Temp/
Prueba_cole/Logs/
Prueba_cole/obj/
Prueba_cole/Build/
Prueba_cole/Builds/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
.vs/
.DS_Store
sysinfo.txt
.idea/